<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao 4 dias</title>
    <style>
            .title {
                color: hsl(324deg 80% 45%);
                font-family: sans-serif;
            }

            .sub-title {
                font-weight: 200;
                color: #605c5c;
                margin: 0 auto;
            }

    </style>
</head>
<body>
    <h1 class="title" >Esse é o 4 dias!</h1>
        <h3 class="sub-title">Api para o projeto 4 dias, um site que reune as empresas que implementaram a semana de trabalho de 4 dias!</h3>
</body>
</html>